{"filter":false,"title":".gitignore","tooltip":"/cms/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":1,"column":0},"end":{"row":1,"column":13},"action":"remove","lines":["/public/build"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":0},"end":{"row":1,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1679069621807,"hash":"daccc333701113477c2828332348e3fe509b483f"}