{"filter":false,"title":".gitignore","tooltip":"/cms/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":1,"column":0},"end":{"row":1,"column":13},"action":"remove","lines":["/public/build"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":15},"end":{"row":8,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":59,"mode":"ace/mode/ini"}},"timestamp":1679117927711,"hash":"daccc333701113477c2828332348e3fe509b483f"}